.contacts-form-section {
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid $accent-color;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet-min) {
    width: $tablet-min;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    width: $desktop;
  }
}

.form-сontainer {
  background-color: #191c26;
  display: block;
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: $mobile) {
    padding-left: 31px;
    padding-right: 31px;
  }
  @media screen and (min-width: $tablet-min) {
    padding-left: 39px;
    padding-right: 39px;
  }
  @media screen and (min-width: $desktop) {
    padding-left: 55px;
    padding-right: 55px;
    width: 50%;
  }
}

.contacts-time-сontainer {
  display: block;
  @media screen and (min-width: $mobile) {
    padding-left: 31px;
    padding-right: 31px;
  }
  @media screen and (min-width: $tablet-min) {
    padding-left: 39px;
    padding-right: 39px;
  }
  @media screen and (min-width: $desktop) {
    padding-left: 55px;
    padding-right: 55px;
    width: 50%;
  }

  // TO DO: вставити картинки з проекту
  background-image: url('../images/price-and-service/price-overley.svg'),
    url('../images/price-and-service/price-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet-min) {
    background-image: url('../images/price-and-service/overley-tablet.svg'),
      url('../images/price-and-service/price-bg.jpg');
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/price-and-service/overley-desc.svg'),
      url('../images/price-and-service/price-bg.jpg');
  }
}

.contacts-сontainer {
  // @extend %container;
  padding-top: 84px;
  padding-bottom: 44px;
}

.form-title {
  margin: 0 0 44px 0;
  padding: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  // identical 49px;
  text-align: center;
  letter-spacing: 0.05em;

  color: $primary-white;

  @media screen and (min-width: $tablet-min) {
    text-align: start;
  }
}

.form-field:not(:last-child) {
  margin-bottom: 44px;
}

// .form-label {
//   position: relative;
// }

.form-input {
  // TO DO: hover color of placeholder: white
  width: 100%;

  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* 15px, identical to box height */

  letter-spacing: 0.1em;
  // text-transform: uppercase;

  color: $text-color-2;
  background-color: rgba(189, 157, 181, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $text-color-2;
  outline: none;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $primary-white;
    border-color: $primary-white;
  }
}

.form-input:focus::-webkit-input-placeholder {
  color: $primary-white;
}

// placeholder {
//   color: transparent;
// }

.button-box {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  margin-left: auto;
  @media screen and (min-width: $tablet-min) {
    justify-content: flex-start;
  }
}

.address-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  & > a {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;

    letter-spacing: 0.02em;

    color: $text-color-2;
    text-decoration: none;
  }
  &-link {
    display: flex;
    align-items: center;
  }
}

.icon-form {
  margin-right: 16px;
}

.mail {
  text-decoration: underline;
}

.massage {
  // TO DO: Висоту як в макеті
  @media screen and (min-width: $tablet-min) {
    // rows: 10;
  }

  @media screen and (min-width: $desktop) {
    // rows: 20;
  }
}

.working-time-сontainer {
  padding-bottom: 84px;
  // @extend %container;
}

.working-time-title {
  margin: 0;
  margin-bottom: 20px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* 15px, identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $primary-white;
}

.working-time-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: $text-color-2;
}

.form-box {
  display: block;
  padding-top: 84px;
  padding-bottom: 84px;

  //   background-color: #191c26;
}
